.spaceship {
  position: absolute;
  width: $shipSize;
  height: $shipSize;
  background-image: url("../assets/player-ship/player.png");
  animation: playerShipMove $shipsAnimationTime steps(8) infinite;
  z-index: 10;
}

@keyframes playerShipMove {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: $shipSize * (-8);
  }
}

.missile {
  position: absolute;
  width: $missileWidth;
  height: $missileHeight;
  background-image: url("../assets/player-ship/bullet.png");
}
