$fontFamily: "Roboto", sans-serif;
$siteBackground: #222;
$fontColor: #efefef;
$fontSize: 10px;
$buttonColor: #1bc6c4;

//ships props
$shipSize: 64px;
$hugeShipSize: 128px;
$shipsAnimationTime: 200ms;
$explosionAnimationTimer: 800ms;

$missileWidth: 12px;
$missileHeight: 20px;
