* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import "variables";

html {
  font-size: $fontSize;
  color: $fontColor;
  font-family: $fontFamily;
}

.container {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
  background: $siteBackground;

  &.hit {
    background: rgb(134, 4, 4);
  }
}

@import "information";
@import "modal";
@import "enemy";
@import "player";

.hidden {
  display: none;
}
